body {
    text-align: center;
    background-color: rgb(0, 191, 255);
    }
    header {
        background-color: rgba(64, 58, 193, 0.68);
    }
    
    footer {
    background-color: rgb(0, 242, 255);
    
    }